<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="framework.Listeners"/>
    </listeners>
    <test name="Home page tests">
        <classes>
            <class name="framework.HomePageTest"/>
        </classes>
    </test>
    <test name="Validate navigation bar">
        <classes>
            <class name="framework.NavigationBarTest"/>
        </classes>
    </test>
    <test name="Validate titles">
        <classes>
            <class name="framework.TitleTest"/>
        </classes>
    </test>
</suite>